<section>
  <h1>About Me</h1>
  <p>This is more of a technical blog of what I want to rant about
  separate from my <a href="http://www.sgenomics.org/~jtang/">personal blog</a>.</p>

  <p>I currently work at http://www.tchpc.tcd.ie/ as a software
  engineer for NAVR based in a high performance computing centre
  (where I used to be a systems admin and research assistant). These
  days I'm doing less sysadmin work and more of the other fun things,
  like supposed research and development of stuff.</p>
</section>
